.Footer {
   background: #647726;
}

/* ========= Back To Top ========== */
.go__top {
   /* height: 10px; */
   border-top: 1px solid rgba(0, 0, 0, 0.1);
   padding: 7px;
   background-color: #cff74c;
   text-align: center;
   font-size: 16px;
}

/* ========= Footer Main ========== */
.Footer__main {
   display: flex;
}

.tableContent {
   flex: 1;
   display: flex;
   align-items: flex-start;
   padding-top: 15px;
   justify-content: center;
}

.Footer__logo {
   display: flex;
   justify-content: center;
   align-items: center;
}

.Footer__logo > img {
   width: 200px;
   height: 200px;
   padding: 0;
   /* margin: -15px -35px; */
}
.Footer__background__logo {
   position: absolute;
   width: 110px;
   height: 110px;
   z-index: 25;
   border-radius: 3px;
   box-shadow: 0 0 5px 2px rgb(0, 0, 0, 0.2);
}

.tableContent__inner {
   margin: 0 30px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.tableContent__header {
   color: white;
   font-size: 14px;
   text-decoration: underline;
   font-weight: 500;
   margin-bottom: 9px;
   cursor: pointer;
}

.tableContent__main {
   line-height: 31.99px;
   word-spacing: 3px;
   font-size: 14px;
   font-weight: 500;
   color: #fff;
   display: block;
   font-weight: 400;
   font-size: 12px;
   cursor: pointer;
   text-shadow: 1px 1px 2px pink;
}

.tableContent__main:hover {
   text-decoration: underline;
   color: #fff;
}

/* ========= Back To Top ========== */

.Footer_Bootem_line {
   background: #475c00;
   color: #fff;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-bottom: -1rem;
   padding: 20px 0px;
}

.Footer_Bootem_line > li {
   align-items: center;
   display: flex;
   font-weight: 500;
}
