.alert__animation {
   /* transition: all 1s ease-in-out; */
   animation: Alert 1s;
   position: fixed;
   z-index: 1000000;
   left: 2%;
   top: 10%;

}

@keyframes Alert {
   from {
      
      opacity: 0;
   }
   25% {
      opacity: 1;
   }
   50% {
      opacity: 1;
   }
   75% {
      opacity: 1;
   }
   to {
      opacity: 0;
   }
}
