@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

.Categorise {
   background-color: lightyellow;
   overflow: hidden;
   color: darkgreen;
   height: 3rem;

   z-index: 6;
   white-space: nowrap;
}

.Categorise__list {
   display: flex;
   width: 70%;
   flex-wrap: wrap;
   align-items: center;
}

.Categorise__listItem {
   cursor: pointer;
   padding: 1px 0;

   text-decoration: none;
   padding: 5px;
   display: flex;
   align-items: center;
}


.Categorise__listItem:hover {
   border-bottom: 1px solid;
}

.Categorise__list__title {
   font-weight: 500;
   font-family: "Cabin", sans-serif;
   font-size: clamp(100% , calc(1vw + 0.1rem) , calc(1vw + 0.5rem));
}
