.Footer {
   background: #647726;
   position: relative;
   bottom: 0;
   width: 100%;
}

/* ========= Back To Top ========== */
.go__top {
   border-top: 1px solid rgba(0, 0, 0, 0.1);
   padding: 7px;
   background-color: #cff74c;
   text-align: center;
   /* font-size: 16px; */
}

/* ========= Footer Main ========== */
.tableContent {
   /* flex: 1; */
   display: flex;
   align-items: flex-start;
   padding-top: 15px;
   justify-content: center;
}

.tableContent__inner {
   width: 100%;
   /* padding: 10px; */
   display: flex;
   align-items: center;
   flex-direction: column;
}



.tableContent__header {
   color: white;
   font-size: 14px;
   font-size: calc(0.7vw + 0.5em);
   text-decoration: underline;
   font-weight: 500;
   margin-bottom: 9px;
   cursor: pointer;
}

.tableContent__main {
   line-height: calc(1vh + 1em);
   word-spacing: 3px;
   font-size: 1vw;
   font-size: clamp(0.5em , 1vw , 3.2em);
   font-size: calc(0.7vw + 0.5em);

   font-weight: 500;
   color: #fff;
   display: block;
   font-weight: 400;
   cursor: pointer;
   text-shadow: 1px 1px 2px pink;
}

.tableContent__main:hover {
   text-decoration: underline;
   color: #fff;
}

/* ========= Bottom line ========== */

.Footer_Bootem_line {
   background: #475c00;
   color: #fff;
   display: flex;
   width: 100%;
   margin: auto;

   /* justify-content: space-around; */
   /* align-items: center; */
   /* margin-bottom: -1rem; */
   padding: 0px;
   /* width: 100%; */
   font-weight: inherit;
   /* font-size: inherit; */
   /* white-space: nowrap; */
}

.Footer_Bootem_line > li {
   align-items: center;
   display: flex;
   font-weight: 500;
   font-size: 1vw;
   white-space: nowrap;
   padding: 5px;
   margin: auto;
   cursor: pointer;
}

.Footer_Bootem_lineImg{
   width: 30vw;
}