@media (max-width: 768px) {.SlideShow__img{margin-bottom: -150px;}}
@media (max-width: 768px) {.SlideShow__img{margin-bottom: -150px;}}
@media (max-width: 1224px) {.SlideShow__img{margin-bottom: -270px;}}
@media (max-width: 1085px) {.SlideShow__img{margin-bottom: -250px;}}
@media (max-width: 968px) {.SlideShow__img{margin-bottom: -217px;}}
@media (max-width: 868px) {.SlideShow__img{margin-bottom: -200px;}}
@media (max-width: 768px) {.SlideShow__img{margin-bottom: -150px;}}
@media (max-width: 600px) {.SlideShow__img{margin-bottom: -120px;}}
@media (max-width: 500px) {.SlideShow__img{margin-bottom: -100px;}}
@media (max-width: 400px) {.SlideShow__img{margin-bottom: -90px;}}
@media (max-width: 300px) {.SlideShow__img{margin-bottom: -75px;}}

