@media (max-width: 1368px) {
   .slideshow {
      margin-bottom: -380px;
   }
}
@media (max-width: 1268px) {
   .slideshow {
      margin-bottom: -400px;
   }
}
@media (max-width: 1168px) {
   .slideshow {
      margin-bottom: -415px;
   }

   .product__img{
      width: 100px;
      height: 100px;
   }
}
@media (max-width: 1068px) {
   .slideshow {
      margin-bottom: -430px;
   }
}
@media (max-width: 968px) {
   .slideshow {
      margin-bottom: -445px;
   }
}
@media (max-width: 868px) {
   .slideshow {
      margin-bottom: -460px;
   }
}
@media (max-width: 768px) {
   .slideshow {
      margin-bottom: -475px;
   }
}
@media (max-width: 668px) {
   .slideshow {
      margin-bottom: -495px;
   }
}
@media (max-width: 568px) {
   .slideshow {
      margin-bottom: -510px;
   }
}

@media (max-width: 468px) {
   .slideshow {
      margin-bottom: -530px;
   }
}
@media (max-width: 368px) {
   .slideshow {
      margin-bottom: -545px;
   }
   .navbar__logo {
      width: 80px;
   }
}

@media (max-width: 268px) {
   .slideshow {
      margin-bottom: -560px;
   }
   .product__img{
      width: 100px;
      height: 100px;
   }
   .navbar__logo {
      width: 80px;
   }
}
