.navbar_ {
   height: 60px;
   background: #f9ffe5;
   background: lightgoldenrodyellow;
   display: flex;
   align-items: center;
   position: sticky;
   top: 0;
   z-index: 100;
}

.navbar__logo {
   width: 100px;
   margin: 0 -15px;
}




.navbar__header {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.navbar__option {
   display: flex;
   flex-direction: column;
   margin: 0 10px;
   justify-content: center;
   color: darkgreen;
}

.navbar__option:hover {
   filter: brightness(1.1);
}

.navbar__optionLine1 {
   font-size: 12px;
   color: darkgreen;
   /* font-size: calc(0.5vw + 0.5rem) */
   font-size: clamp(0.5vw + 0.5rem, 1vw, 1.5vw)
   
}

.navbar__optionLine2 {
   color: darkgreen;
   font-size: 13px;
   font-weight: 700;
   /* font-size: calc(1vw + 0.5rem) */
   font-size: clamp(0.5vw + 0.5rem, 1vw, 1.5vw)

}

.dropdown__menulist ul {
   padding: 10px;
   width: 250px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   border-radius: 0.35rem;
   text-align: center;
   background: #fff;
}
.dropdown__menulist {
   transform: translate3d(-115px, 40px, 0px);
   inset: 0px auto auto 0px;
   font-size: calc(0.6vw + 0.6em);
   display: none;
   border: none;
   background: none;
}
.list:hover .dropdown-menu {
   display: block;
   /* position: absolute; */
   /* margin-top: 0; */
   /* left: 10px; */
}

.select {
   background-color: transparent;
   border: none;
   font-size: 12px;
   font-weight: 500;
   margin: -5px;
   letter-spacing: 0.5px;
   cursor: pointer;
}
