/* Slideshow */

.slideshow {
   width: 100%;
   z-index: -1;
   height: 100%;
   overflow: hidden;
   margin-bottom: -360px;
   /* margin-bottom: clamp(calc(-400px + -1vh), -350px, calc(-400px + -1vh)); */
}

.SlideShow__img {
   width: 100%;
   z-index: -1;
   mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.slideshowSlider {
   white-space: nowrap;
   height: 600px;
   width: 100%;
   transition: ease 1000ms;
}
