.Categorise {
   overflow: hidden;
   white-space: nowrap;
}

.Categorise ul {
   display: flex;
   justify-content: space-around;
   list-style: none;
   background-color: white;
   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.Categorise ul li {
   box-sizing: border-box;
   margin: 0.5rem 1rem;
   padding: 1rem;
   background-color: green;
   border: 1px solid black;
}
