* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


a,
img {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
}


.App {
  background-color: #eff1f4;
  min-height: 100vh;
}
