* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
img,
li,
p {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  list-style: none;
}

.App {
  background-color: #eff1f4;
  min-height: 100vh;
}

a:hover {
  color: black;
}

.box {
  color: darkgreen;
  padding: 8px 10px;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25), inset 1px 1px 3px rgba(255, 255, 255, 0.35),
    inset -1px -1px 3px rgba(0, 0, 0, 0.5);
  font-size: clamp(0.7em, 1vw, 3.2em);
  cursor: pointer;
  border: none;
  outline: none;
  background: linear-gradient(white -5%, greenyellow, hsl(120, 85%, 62%), limegreen);
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  width: inherit;
  margin: 10px 0;
}

.box:active {
  box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.35), inset -1px -1px 3px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.2s;
}

@media (width >= 768px) {
  .box:hover {
    filter: brightness(1.1);
  }
}
